In [5]:
import pandas as pd

data={
    'semester':[1,2,3,4,5,6],
    'Maths':[45,85,56,68,95,78],
    'Physics':[85,65,69,78,45,75],
    'English':[78,85,89,81,96,99]
}


df=pd.DataFrame(data=data)
df.head()

   semester  Maths  Physics  English
0         1     45       85       78
1         2     85       65       85
2         3     56       69       89
3         4     68       78       81
4         5     95       45       96

In [6]:
df.drop(['Maths'], axis=1)

   semester  Physics  English
0         1       85       78
1         2       65       85
2         3       69       89
3         4       78       81
4         5       45       96
5         6       75       99

In [7]:
df.drop([0], axis=0)

   semester  Maths  Physics  English
1         2     85       65       85
2         3     56       69       89
3         4     68       78       81
4         5     95       45       96
5         6     78       75       99

In [8]:
df.drop(["Maths","English"], axis=1)

   semester  Physics
0         1       85
1         2       65
2         3       69
3         4       78
4         5       45
5         6       75

In [12]:
# Drop column of index using DataFrame.iloc[] and drop() methods.
df.drop(df.iloc[:, 0:1],axis = 1)

   Maths  Physics  English
0     45       85       78
1     85       65       85
2     56       69       89
3     68       78       81
4     95       45       96
5     78       75       99